.formGroup {
	display: flex;
	flex-wrap: wrap-reverse;
}

.formGroup:not(:last-of-type) {
	margin-bottom: 1.5em;
}

.formGroup label {
	font-weight: 600;
	color: var(--c-text-soft);
	margin-bottom: 0.3em;
	padding-left: 0;
	transition: 0.3s;
}

.formGroup label,
.formGroup input,
.formGroup select,
.formGroup textarea {
	display: block;
	width: 100%;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
	font-size: 1.12em;
	/* border: 1px solid var(--c-contrast-border-light); */
	border: none;
	border-radius: 10px;
	padding: 0.63em;
	transition: 0.23s;
}

.formGroup input,
.formGroup textarea {
	background-color: var(--c-bg-soft);
}

.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
	outline: none;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17), 0 4px 4px rgba(0, 0, 0, 0.07);
	/* border-radius: 0; */
	background-color: var(--c-dark-contrast);
}

.formGroup input:focus ~ label,
.formGroup select:focus ~ label,
.formGroup textarea:focus ~ label {
	margin-bottom: 0.3em;
	padding-left: 0.618em;
	color: var(--c-brand-main);
	font-weight: 700;
}
