:root {
	--c-green: #52796f;
	--c-green-light-1: #84a98c;
	--c-green-light-2: #cad2c5;
	--c-green-dark-1: #354f52;
	--c-green-dark-2: #2f3e46;

	--c-brand-main: var(--c-green);
	--c-brand-main-dark-1: var(--c-green-dark-1);
	--c-brand-main-dark-2: var(--c-green-dark-2);
	--c-brand-main-light-1: var(--c-green-light-1);
	--c-brand-main-light-2: var(--c-green-light-2);
	--c-brand-main-contrast: #fff;

	--c-link: var(--c-green-light-1);
	--c-link-hover: var(--c-green-dark-1);

	--c-bg-dark: #222;
	--c-bg-lightest: #FAFAFA;
	--c-bg-slight: #DFE0E2;
	--c-bg-soft: #F4F5F6;
	--c-bg-soft-contrast: #222;
	--c-dark-contrast: #fff;

	--c-contrast-border: #a2a2a2;
	--c-contrast-border-light: #c2c2c2;
	--c-contrast-border-dark: #525252;

	--c-button: var(--c-brand-main);
	--c-button-contrast: var(--c-brand-main-contrast);
	--c-button-hover: var(--c-brand-main-dark-1);

	--c-text-soft: #888888;
}
